.btn {
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.8rem 1.6rem;
    color: $color-white;
    cursor: pointer;
}

.btn--blue {
    background-color: $color-dark-blue;
    transition: background-color 0.3s ease-out;

    &:hover {
        background-color: darken($color-dark-blue, 10%);
    }
}

.btn--ghost {
    background-color: transparent;
    border: 1px solid $color-white;
    transition: all 0.3s ease-out;

    &:hover {
        background-color: $color-white;
        color: $color-black;
    }
}

.btn--ghost-black {
    color: $color-black;
    background-color: transparent;
    border: 1px solid $color-black;
    transition: all 0.3s ease-out;

    &:hover {
        background-color: $color-black;
        color: $color-white;
    }
}

.shop__button {

    @media only screen and (max-width: 50em) {
        color: $color-black;
        background-color: transparent;
        border: 1px solid $color-black;
        transition: all 0.3s ease-out;

        &:hover {
            background-color: $color-black;
            color: $color-white;
        }
    }
}