.footer {
    padding: 5vw;
    height: 30rem;
    background-color: $color-dark-grey;
    position: relative;

    display: flex;

    @media only screen and (max-width: 50em) {
        height: 50rem;
        flex-direction: column;
        justify-content: center;
    }

    &__nav {
        list-style: none;
        text-align: center;

        align-self: center;
        justify-self: flex-start;
        font-size: 1.4rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-auto-flow: column;
        grid-column-gap: 3vw;
        grid-row-gap: 3rem;

        @media only screen and (max-width: 50em) {
           grid-column-gap: 20vw;
        }

        &__link {
            text-decoration: none;
            color: $color-white;
        }
    }

    &__contact {
        text-align: center;
        align-self: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (max-width: 50em) {
            position: relative;
            top: unset;
            left: unset;
            transform: translate(0);
            margin-top: $size-md;
        }

        &__text {
            color: $color-white;
            line-height: 2.4;
            font-size: 1.4rem;
        }
    }

    &__legal {
        font-size: 1.2rem;
        list-style: none;
        position: absolute;
        top: $size-xs;
        right: $size-xs;

        @media only screen and (max-width: 50em) {
            top: unset;
            right: unset;
            bottom: $size-xs;
            left: $size-xs;
        }

        &__link {
            text-decoration: none;
            color: $color-white;
        }
    }
}