.header {
    height: 50vw;
    background-image: url(../img/hero-1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5rem;

    @media only screen and (max-width: 50em) {
        background-image: url(../img/hero-1-mobile.jpg);
        height: 90vw;
        background-size: cover;
        background-position: center;
    }

    &__hero-1 {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__text {
            width: 55%;
            text-align: center;
        }
    }
}