.header {
    height: 50vw;
    background-image: url(../img/hero-1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5rem;

    &__hero-1 {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__text {
            width: 50%;
            text-align: center;
        }

        &__buttons {
        }
    }
}