.nav {
    position: fixed;
    top: 0;
    height: 5rem;
    width: 100%;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    padding: $size-xs;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 100;

    &__list {
        list-style: none;
        display: flex;

        &__left {

        }

        &__right {

        }

        &__item {

            &:not(:last-child) {
                margin-right: $size-sm;
            }

            &__link {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}