.shop-1,
.shop-2,
.shop-3 {
    width: 100%;
    position: relative;
    line-height: 0;

    &__info {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        text-align: center;
        
        & > *:not(:last-child) {
            margin-bottom: $size-md;
        }
    }

    &__text {
        font-size: $font-sm;
        color: $color-white;
    }

    &__img {
        width: 100%;
    }

    @media only screen and (max-width: 50em) {
        display: flex;
        flex-direction: column;

        &__info {
            padding: 12vw;
            position: relative;
            top: unset;
            left: unset;
            transform: translate(0);
            order: 1;
        }

        &__text {
            color: $color-black;
            font-size: $font-lg;
        }
    }
}

.shop-2 {

    &__info {
        left: unset;
        right: 25%;
        transform: translate(50%, -50%);

        @media only screen and (max-width: 50em) {
            right: unset;
            transform: translate(0);
        }
    }
}