// USE EXTEND

.heading-primary {
    color: $color-white;
    font-size: 4.8vw;
    font-weight: 300;
    letter-spacing: 1.4px;
}

.heading-secondary {
    color: $color-white;
    font-size: 2.4vw;
    font-weight: 300;
    letter-spacing: 1.2px;
    line-height: 1;

    &--dark-grey {
        color: $color-dark-grey;
    }
}

.heading-tertiary {
    color: $color-white;
    font-size: 2vw;
    font-weight: 300;
    letter-spacing: 1.2px;
    line-height: 1;

    @media only screen and (max-width: 50em) {
        font-size: 4vw;
    }

    &--underline {
       font-size: 2.6rem;
       display: inline-block;
       width: 30rem;
       border-bottom: 1px solid $color-white;
       padding-bottom: $size-sm;
       margin-bottom: $size-sm;
    }
}

.heading-quad {
    color: $color-white;
    font-size: 1.2vw;
    font-weight: 100;
    letter-spacing: 1.2px;
    line-height: 1;

    @media only screen and (max-width: 50em) {
        font-size: $font-xl;
    }
}

.shop__heading {
    @media only screen and (max-width: 50em) {
        color: $color-black;
        font-size: 6vw;
    }
}

.box__heading {
    @media only screen and (max-width: 50em) {
        font-size: 6vw;
    }
}

.blog__heading {
    @media only screen and (max-width: 50em) {
        font-size: $font-xl;
        text-align: center;
    }
}