// USE EXTEND

.heading-primary {
    color: $color-white;
    font-size: 4.6vw;
    font-weight: 400;
    letter-spacing: 1.4px;
}

.heading-secondary {
    color: $color-white;
    font-size: 2.4vw;
    font-weight: 300;
    letter-spacing: 1.2px;
    line-height: 1;

    &--dark-grey {
        color: $color-dark-grey;
    }
}

.heading-tertiary {
    color: $color-white;
    font-size: 2vw;
    font-weight: 300;
    letter-spacing: 1.2px;
    line-height: 1;

    &--underline {
       font-size: 2.6rem;
       display: inline-block;
       width: 30rem;
       border-bottom: 1px solid $color-white;
       padding-bottom: $size-sm;
       margin-bottom: $size-sm;
    }
}

.heading-quad {
    color: $color-white;
    font-size: 1.2vw;
    font-weight: 100;
    letter-spacing: 1.2px;
    line-height: 1;
}